input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #5a5a5a;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    /* font: 400 12px Arial; */
    font-size: 10px;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    /* border-color: rgb(169, 169, 169); */
    /* border-image: initial; */
}

#calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
}

#info {
    display: block;
    /* position: relative; */
    /* width: 100%; */
    /* height: 42px; */
    /* padding: 12px; */
    background-color: #e8e8e8;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 0px;
    font-size: 11px;
    /* text-align: left; */
    /* color: #656565; */
    /* background: #e8e8e8; */
}


#getElevation {
    display: block;
    /* position: relative; */
    /* width: 100%; */
    /* height: 42px; */
    /* padding: 12px; */
    background-color: #e8e8e8;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 0px;
    font-size: 11px;
    /* text-align: left; */
    /* color: #656565; */
    /* background: #e8e8e8; */
}

#customDrawPalette {
    padding: 0;
    margin: 0;
}

.draw-color-change {
    height: 18px;
    width: 18px;
    border-radius: 0px;
    margin-top: 2px;
    display: inline-flex;
    cursor: pointer;
}

#calculate {
    background-color: none;
    color: #4a4a4a;
    cursor: pointer;
}

#calculated-area,
#calculated-length,
#nmCalc,
#nmCalcAirport {
    display: block;
    /* position: relative; */
    /* width: 100%; */
    height: 26px;
    /* padding: 12px; */
    background-color: #e8e8e8;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 0px;
    font-size: 11px;
    /* text-align: left; */
    /* color: #656565; */
    /* background: #e8e8e8; */
}


.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(61, 68, 72, 1.0);
}


#saveButton {
    max-height: 40px;
    width: 40px;
    background-color: #c5c5c5;
    color: #4a4a4a;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

#urlCopied {
    max-height: 40px;
    height: 40px;
    background-color: #e8e8e8;
    color: #4a4a4a;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 13px 13px 13px 5px;
    margin: 10px 0;
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copyButton {
    min-height: 40px;
    width: 40px;
    background-color: #dcdcdc;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

#export-map {
    min-height: 40px;
    border: 1px solid rgb(208, 208, 208);
    padding: 10px;
    cursor: pointer;
}

#search_general {
    min-height: 40px;
    width: 50px;
    background-color: #c5c5c5;
    border: none;
    cursor: pointer;
}

#clear_general {
    min-height: 40px;
    width: 50px;
    color: #fbfbfb;
    background-color: #a2a2a2;
    border: none;
    cursor: pointer;
}


.ui-autocomplete {
    max-height: 300px;
    width: 244px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5px;
    padding-top: 5px;
    border: 2px solid #e8e8e8;
    z-index: 2000;
    font-size: small;
    color: #636363;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item a.ui-state-focus {
    background: #c2f0ff !important;
    padding-right: 100%;
    border: none;
    color: #353535;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    font-size: small;
}

a {
    color: #1182e2;
    text-decoration: none;
    /* display: block; */
}

a:focus,
a:hover {
    color: black;
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.layer-picker {
    padding: 8px 8px;
    width: 100%;
    background: #e8e8e8;
    border: none;
    border-right: none;
    font-size: 9pt;
    border-radius: 0;
    -webkit-appearance: none;
}